$original-theme: #3296FA;
$original--color-white: #ffffff !default;
$original--color-black: #000000 !default;
$original-light-1: mix($original--color-white, $original-theme, 10%) !default;
$original-light-2: mix($original--color-white, $original-theme, 20%) !default;
$original-light-3: mix($original--color-white, $original-theme, 30%) !default;
$original-light-4: mix($original--color-white, $original-theme, 40%) !default;
$original-light-5: mix($original--color-white, $original-theme, 50%) !default;
$original-light-6: mix($original--color-white, $original-theme, 60%) !default;
$original-light-7: mix($original--color-white, $original-theme, 70%) !default;
$original-light-8: mix($original--color-white, $original-theme, 80%) !default;
$original-light-9: mix($original--color-white, $original-theme, 90%) !default;
