.page-new-product {
  .ad-wrap {
    padding: 5px 30px;
    font-size: 22px;
    background-color: #fff;
    i {
      margin-right: 10px;
      color: rgb(250,200,120);
    }
    .yellow-text {
      color: rgb(250,200,120);
    }
  }
}
