.page-tui-guang {
  position: relative;
  background-color: rgb(255, 208, 109);
  min-height: 100vh;
  .app-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    width: 80px;
    height: 80px;
    border-radius: 16px;
  }
  .bg {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: auto;
  }
  .register-wrap {
    position: relative;
    padding-top: 600px;
    margin: 0 auto 0 auto;
    width: 660px;
    .mint-cell {
      margin-bottom: 40px;
    }
  }
  .code-wrap {
    .mint-field-other {
      position: absolute;
      right: 0;
      height: 100%;
    }
    .mint-button {
      height: 100%;
      background-color: rgb(224, 58, 78);
      .mint-button-text {
        color: #fff;
        font-size: 30px;
      }
    }
  }
  .register-btn {
    width: 100%;
    background-color: rgb(224, 58, 78);
    border-radius: 20px;
    .mint-button-text {
      color: #fff;
    }
  }
  .img-detail-wrap {
    background-color: rgb(224, 58, 78);
    position: relative;
    margin: 100px auto 0 auto;
    width: 660px;
    padding: 50px 20px;
    box-sizing: border-box;
    border-radius: 30px;
    .img-detail-item {
      display: inline-block;
      width: 32%;
      text-align: center;
      img {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
      }
      .text {
        color: rgb(255, 208, 109);
      }
    }
  }
}
