@charset "UTF-8";

@import "_var";
@import "vant/index.css";
@import "style-class";
@import "vant-reset";
@import "./theme/project-theme";
@import "./font/icon/iconfont.css";

@import "./component/app-card-block";
@import "./component/filter-block";
@import "./component/diy-form";

@import "page/login";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-color;
  font-size: 13px;
  // 全站灰色
  // filter: grayscale(100%);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #bebdbd;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
  opacity: .5;
}

::-webkit-scrollbar-track-piece:decrement, ::-webkit-scrollbar-track-piece:increment {
  background: #f5f5f5
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-text-color;
}

.main-body {
  margin-top: 90px;
}

.tab-view {
  margin-bottom: 90px;
}

.has-bar {
  margin-bottom: 145px;
}

.net-line {
  height: 450px;
}

.red-text {
  color: $red-color !important;
}

.green-text {
  color: $green-color !important;
}

.grey-back {
  background-color: rgba(180, 180, 180, 0.2);
}

.has-back {
  background-color: rgb(231,244,250);
}

ul {
  margin: 0;
  padding: 0;
}

.content {
  padding: 30px;
  font-size: 30px;
}

.loading-wrap {
  width: 400px;
  margin-top: 400px;
  text-align: center;
  color: $lighter-text-color;
  i {
    font-size: 160px;
  }
  p {
    font-size: 40px;
  }
}

.page-content-wrap {
  padding: 0 24px;
}

.fake-input {
  box-sizing: border-box;
  height: 36px;
  border-radius: 4px;
  line-height: 36px;
  padding: 0 12px;
  color: #1F1F1F;
  background-color: rgb(240,240,240);
  overflow: hidden;
}

table {
  border-color: #E9E9E9;
  th {
    padding: 11px 4px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    background-color: $grey-body-color;
  }
  td {
    padding: 11px 4px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
  }
}

.common-view-wrap {
  height: calc(100vh - 46px);
  overflow-x: hidden;
  overflow-y: auto;
}

.common-info-block {
  background-color: #fff;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.common-block {
  background-color: #fff;
  padding: 16px;
}

.sum-cell {
  font-size: 16px;
  font-weight: bold;
  .van-cell__right-icon {
    opacity: 0;
  }
}

.page-grey-bg {
  height: calc(100vh - 46px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $grey-body-color;
}

.view-loading-wrap {
  position: relative;
}


.col-title {
  padding: 14px 15px;
  line-height: 12px;
  .col-title-content {
    padding-left: 5px;
    border-left: 2px solid #255BDA;
    color: #255BDA;
  }
}
.col-content {
  background-color: #fff;
  padding: 15px;
  line-height: 20px;
  .col-label {
    color: #808DA1
  }
  .col-item {
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.h-n-b {
  width: 260px;
  .van-notice-bar {
    color: #272727 !important;
    background-color: #fff;
    font-size: 18px;
  }
}

